@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --background-color: #ffffff;         /* Main background color */
    --background-hover-color: #4CAF50;   /* Button hover background color */
    --font-color: #000000;               /* Main font color */
    --font-secondary-color: #bababa;     /* Secondary font color */
    --theme-color: #117715;              /* Main theme color for buttons */
    --theme-secondary-color: #6ad26d;              /* Main theme color for buttons */
    --border-color: #e0e0e0;             /* Border color for container */
}